{%  extends 'base.html.twig' %}

{% block title %} Service Error {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-6">
            Service Error : {{ incidentId }}
        </div>
        <div id="map" class="col-xs-12 col-md-6 map" data-type-map = 'app'></div>
    </div>


{% endblock %}
